html{
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    font-size: 14px;
}
body,ul,li,ol{
    margin:0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration:none;
}
*{
    box-sizing: border-box ;
}
body{
    background: #ebebeb;
}

.header{
    height: 236px;
    background: #f4645f;

    padding-top: 57px;
    background: url("../img/44e1c4e50d55159c65da6a41bc07e.jpg");
    background-position: center 20%;
    background-size: cover;
}

.header .main-title{
    display: block;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.header .btn-list{
    margin-top: 50px;
    text-align: center;
}


.btn {
    color: white;
    border: 1px solid #f1362f;
    border-radius: 2px;
    padding: 7px 14px;
    transition: all 0.2s ease-in-out;
}

.btn:hover{
    border: 1px solid #303030;
    background: #303030;
}

.nav{
    height: 56px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav li.active{
    border-bottom: 2px solid #f4645f;
}
.nav li a{
    line-height: 56px;
    padding: 0 21px;
    color: #505050;
}
.nav li:hover a{
    color: #f4645f;
}

.main{
    height: 1000px;

}

.footer{
    height: 363px;
    background: #202020;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

.footer .container{
    width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .container .item{
    height: 300px;
    width: 27%;
}

.footer .title{
    color: white;
    font-size: 21px;
    padding-bottom: 7px;
    border-bottom: 1px solid #303030;
    position: relative;
}

.footer .title:after{
    content: " ";
    height: 1px;
    width: 90px;
    background: #f4645f;
    position: absolute;
    left: 0;
    bottom: -1px;
}
.footer .article{
    margin-top: 14px;
    height: 62px;
    border-bottom: 1px dashed #303030;;
}
.footer .article .article-title{
    color: #959595;
    line-height: 30px;
}
.footer .article .date{
    color: #505050;
    line-height: 20px;
}


.copyright{
    height: 60px;
    background: #111;
}